h3 {
   
   color: #0066ff;
   text-align: left;
   font-family: helvetica;
   margin-left: 50px;

}   
   
body {
   
   background-color: #ffffff;
    
}
    
p {
    
   margin-left: 50px;
   margin-right: 50px;
    
  
}

table, th, td {
    
    border-width: 1px;
    border-collapse: collapse;
    border-style: solid;
    border-color: black;

}
    
table#table {    
    
    width: 100%;
    padding: 5px;
    
}    
  
table#table tr:nth-child(even) {
    
    background-color: #eee;
}

table#table tr:nth-child(odd) {

    background-color: #fff;
}
 
table#table th {
  
    color: white;
    background-color: #0066ff;
    text-align: left; 
   
}
    
h1 {
  
    color: #0066ff;
    text-align: center;
    font-family: helvetica;
    
}

img {
  
    display: block;
    margin: 0 auto;
    border-width: 8px;
    border-radius: 5px;
    border-color: #0066ff;
    border-style: ridge;
  
}  
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #595959;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #0066ff;
}  
  
    
